/* @font-face {
    font-family: "CustomFont";
    src: url("CustomFont.eot");
    src: url("CustomFont.woff") format("woff"),
    url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
    } */

@media only screen and (max-width: 576px) {
    .left_section {
        display: none;
    }
    .course_img {
        width: 100%;
        /* height: 180px!important; */
    }
}

.height1 {
    height: 430px!important;
}

.myshadow {
    color: white!important;
    text-transform: uppercase!important;
    margin-top: 10px!important;
}

.uran {
    font-family: 'Bebas Neue';
}

.card-price {
    opacity: .6;
    height: 24px;
    padding: 5px;
    background-color: black;
    color: gold;
    font-weight: 800;
}

.parda {
    width: 100%!important;
    height: 100vh!important;
    position: fixed;
    z-index: -99;
    opacity: .4;
    background-color: rgb(255, 254, 254);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadows {
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #010203;
    color: rgb(110, 95, 95);
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 150px;
    transition: all 0.25s ease-out;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

@media only screen and (max-width: 576px) {
    .shadows {
        color: rgb(12, 0, 0);
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 60px;
    }
}

.card {
    box-shadow: 1px 1px 40px rgb(129, 108, 108);
}

.user {
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

@media only screen and (max-width: 400px) {
    .user {
        font-size: 20px;
    }
}

.pr-img {
    width: 290px;
    height: 290px;
}

@media only screen and (max-width: 36p0x) {
    .pr-img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 576px) {
    .pr-img {
        width: 340px;
        height: 320px;
    }
}

.pr-img2 {
    height: 300px;
}

@media only screen and (max-width: 360px) {
    .pr-img2 {
        height: 170px!important;
        width: 200px!important;
    }
}

@media only screen and (max-width: 576px) {
    .pr-img2 {
        height: 200px;
    }
}